@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@font-face {
    font-family: 'idroid';
    src: url(../fontes/idroid.otf);
    font-weight: normal;
}


body {
    background-color: rgb(175, 241, 21);
}

:root {
    --cor1:#c5ebd5;
    --cor2:#83e1ad;
    --cor3:#3ddc84;
    --cor4:#2fa866;
    --cor5:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-family: "Bebas Neue", sans-serif;
    --fonte-android: 'idroid', sans-serif;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
    font-size: 1.2em;
    font-family: var(--fonte-padrao);
}

main strong {
    background-color: rgb(188, 235, 186);
    color: #062c02;
    padding: 2px 6px;
    font-weight: bolder;

}

main a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor1);
    background-color: var(--cor5);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor1);
}

a.externo::after{
    content: '\00a0\1F517';
}


* {
    margin: 0px;
    padding: 0px;

}

header {
    background-image:linear-gradient(to bottom, rgb(73, 226, 2), rgb(0, 114, 31));
    border-bottom: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;

}

header > h1 {
    text-align: center;
    font-family: var(--font-family);
    font-weight: normal;
    font-size: 3em;
    color: #ffffff;
    height: 90px;
    line-height: 1em;
    padding-top: 30px;
    padding-bottom: 30px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.486);
}

header > p {
    text-align: center;
    font-family: var(--fonte-padrao);
    color: #ffffff;
    max-width: 430px;
    font-size: 1.2em;
    margin: auto;
    margin-top: -1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.486);
    

}
nav {
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.356);


}

nav > a {
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.5em;
    font-family: var(--fonte-padrao);
    transition-duration: 500ms;

    
}

nav >  a:hover {
    background-color: #35c475;
    color: #063d1e;
}

main {
    background-color: #ffffff;
    min-height: 300px;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 7px 4px 3px rgba(0, 0, 0, 0.527);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

main img {
    width: 100% ;
    padding: 1px;
    display: block;
}


main h1 {
    font-family: var(--fonte-android);
    color: #044204;
    font-weight: bolder;
    font-size: 2.5em;
    
}


main h2 {
    background-image:linear-gradient(to right, #8efa00f6, transparent);
    margin: 20px 0px 20px 0px;
    color: #013103;
    font-size: 1.5em;
    font-family: var(--fonte-android)
}


main img.img-droid {
    max-width: 900px;
    display: block;
    margin: auto;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.vidio {
    text-align: center;
    padding: 20px 20px 20px 20px;
    padding-bottom: 58% ;
    margin: 0px -20px;
    background-color: rgb(17, 58, 0);
    position: relative;
 
}

div.vidio > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: rgb(173, 216, 168);
    padding: 15px;
    margin: 40px 20px;
    font-size: 16px;
    border-radius: 20px;
    border-top: 20px; 
    box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.479);

}

aside > ul {
    list-style-type: '\2714\00a0';
    list-style-position: inside;
    columns: 2;
    font-size: 1.2em;
}

aside h3 {
        background-color: #485f08;
        border-radius: 20px 20px 0px 0px ;
        color:#ffffff;
        padding: 15px;
        margin: -15px -15px 0px -15px;
        
        
}


section {
    padding: 0px 20px 20px 20px;
}

footer {
    background-color: #485f08;
    padding: 10px;
}

footer > p {
    color: #ffffff;
    font-family: var(--fonte-padrao);
    text-align: center;
    font-weight: 400;
    font-size: 1em;
}